/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.tasks-section__input-label,
.new-task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-section__input-wrapper {
  display: flex;
}
#incomplete-tasks-list,
#completed-tasks-list {
  margin: 0;
  padding: 0px;
}
.tasks-section__list-item,
.tasks-section__title {
  list-style: none;
}
.input,
.button{
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.tasks-section__title,
.add-section__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.new-task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.new-task-input:focus {
  color: #333;
}

/* New Task */
.add-section__label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.tasks-section__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-section__list-item > * {
  vertical-align: middle;
}

.tasks-section__list-item > input[type="checkbox"] {
  margin: 0 10px;
}
.tasks-section__list-item > .tasks-section__input-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-section__list-item >    .new-task-input {
   width: 226px
}
.tasks-section__delete-btn-img{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks-section__delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks-list .tasks-section__input-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-section__list-item .new-task-input {
  display: none;
}

.tasks-section__list-item.tasks-section__list-item_edit-mode .new-task-input {
  display: inline-block;
  width: 224px;
}

.tasks-section__list-item.tasks-section__list-item_edit-mode .tasks-section__input-label {
  display: none;
}